header {
  float: right;
  background-color: red;
}

body {
  width: 50;
  height: 40px;
  background-color: #eceef1;
}

footer {
  text-align: center;
  margin-top: 3%;
}

input {
  width: 95%;
  height: 20px;
}

h3,
p {
  background-color: red;
  padding: 0;
  margin: 0;
  width: fit-content;
}

.colorgray {
  color: #fdfdfd;
}

.removehorizontalp {
  padding-left: 0;
  padding-right: 0;
}

#mainform {
  position: relative;
  display: flex;
  padding: 25px;
  margin: 0 auto;
  width: fit-content;
  min-width: 25%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  margin-top: 29px;
}

#policy {
  width: 50%;
  background-color: red;
  word-wrap: break-word;
}

#subform {
  width: 50%;
  display: flex;
  background-color: green;
  flex-direction: column;
}
